{% extends 'console_base.html' %}

{% block header %}
    {% include 'includes/console_top_nav.html' with on='startups' %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <h1>{{ object.name }}</h1>
            <a href="{% url 'console_startups_list' %}">Back to startups List</a>
            <div class="clear"></div>

            <div class="block">
                <table>
                   
                    <tr>
                        <th>Logo</th>
                        <td>
                            <img src="{{ object.get_64x64_url }}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ object.title }}</td>
                    </tr>
                    <tr>
                        <th>Rich Content</th>
                        <td>{{ object.rich_content }}</td>
                    </tr>
                    <tr>
                        <th>Founder Photographs</th>
                        <td>{{ object.founder_photographs }}</td>
                    </tr>
                    <tr>
                        <th>Website Link</th>
                        <td>{{ object.Link_to_their_website }}</td>
                    </tr>
                    <tr>
                        <th>Social Media Profiles</th>
                        <td>{{ object.social_media_profiles }}</td>
                    </tr>
                    <tr>
                        <th>Contact Details</th>
                        <td>{{ object.contact_details }}</td>
                    </tr>
                    
                    <tr>
                        <th>Actions</th>
                        <td>
                            <a href="{% url 'console_startups_update' object.pk %}">
                                Edit
                            </a> |
                            <a href="{% url 'console_startups_delete' object.pk %}">
                                Delete
                            </a>
                        </td>
                    </tr>
                </table>
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
