{% extends 'base.html' %}

{% block content %}
	<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
	
	<h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Event</h1>
	<a href="{% url 'console_events_list' %}">Back to List</a>
    <br />
    <br />
    <br />
	
	<form id="frmUpdateEvents" action="." method="POST">{% csrf_token %}
	    <label for="id_image">Image</label>
	    {{ form.image }}{{ form.image.errors }}
	
	    <label for="id_title">Event Title</label>
	    {{ form.title }}{{ form.title.errors }}
	
	    <label for="id_title">Start Date</label>
	    {{ form.start }}{{ form.start.errors }}
	
	    <label for="id_title">End Date</label>
	    {{ form.end }}{{ form.end.errors }}
	
	    <label for="id_title">Venue Name</label>
	    {{ form.venue_name }}{{ form.venue_name.errors }}

	    <label for="id_title">Venue Address</label>
	    {{ form.venue_address }}{{ form.venue_address.errors }}
	
	    <label for="id_title">Repeat</label>
	    {{ form.repeat }}{{ form.repeat.errors }}

	    <label for="id_title">Repeat Until</label>
	    {{ form.repeat_until }}{{ form.repeat_until.errors }}
	
	    <label for="id_title">External Link</label>
	    {{ form.external_link }}{{ form.external_link.errors }}
	
	    <label for="id_title">Calendar Link</label>
	    {{ form.calendar_link }}{{ form.calendar_link.errors }}
	
	    <input type="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Event" />
	</form>
{% endblock %}
