{% extends 'console_base.html' %}

{% block content %}
    <h1>Events</h1>
    <a href="{% url 'console_events_list' %}">Back to List</a>
    <br />
    <br />
    <br />
    
    <table>
        <tbody>
            <tr>
                <th>Stage</th>
                <th>Image</th>
                <th>Title</th>
                <th>Venue Name</th>
                <th>Venue Address</th>
                <th>Date</th>
                <th>Repeat</th>
                <th>Repeat Until</th>
                <th>External Link</th>
                <th>Calendar Link</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>{{ object.get_state_display }}</td>
                <td>{{ object.image }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.venue_name }}</td>
                <td>{{ object.venue_addres }}</td>
                <td>{{ object.start|date:"j F Y" }} from {{ object.start|date:"g:i a" }}</td>
                <td>{{ object.repeat }}</td>
                <td>{{ object.repeat_until }}</td>
                <td>{{ object.external_link }}</td>
                <td>{{ object.calendar_link }}</td>
                <td>
                    <a href="{% url 'console_events_update' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                    <a href="{% url 'console_events_delete' object.pk %}">Delete&nbsp;&raquo;</a> 
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
