{% extends 'base.html' %}
{% load core_widgets %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css"/>  

{% endblock %}

{% block title %}Venue Hire{% endblock %}
{% block header %}
    {% include 'includes/top_nav.html' with on='venue_hire' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'partners' %}
	{% endblock %}
{% endcomment %}

{% block content %}

    <div id="content">
        <div class="container">
            <p class="context"></p>
            
            <h1>Hire the JoziHub Venue</h1>
			<p>JoziHub is available for hire for your workshop, strategy session, launch event or meeting. We also have a range of resources and services to cater for your event including technical, catering & refreshments, speakers and more. Let us know a little more about you and your event so we can get back to you asap.</p>
      <p>For our current rate card, please click <a target="_blank" href="/media/uploads/JoziHub_Event_Info_Ratecard.pdf"> here.</a></p>

			<div class="block">
				<form id="frmEventhire" method="POST" action="" class="validate_form">{% csrf_token %}
				    <p class="head">Booking Details</p>
					 <div class="clear"></div> 
					 <div id="inputs">
					<input type="hidden" name="next" value="">
					
            <div class="field">
              {{ form.eventname.label_tag }}
              {{ form.eventname }}
              {{ form.eventname.errors }}
            </div>
				    <div class="clear"></div> 
              {{ form.eventdescription.label_tag }}
              <textarea name="eventdescription" rows="8" cols="0" dir="auto" style="width:100%">{% if form.eventdescription.value %}{{ form.eventdescription.value }}{% endif %}</textarea>
              {{ form.eventdescription.errors }}
						<div class="clear"></div>
						<br />
						
				    <p class="head">Booking Details</p>
			        <div class="clear"></div>
					
  					<div class="field">
              {{ form.desiredvenue.label_tag }}
              {{ form.desiredvenue}}
              {{ form.desiredvenue.errors }}
  					</div>
					
						 <div class="clear"></div>
				    
            <div class="field">
              {{ form.startdate.label_tag }}
              <input id="id_startdate" name="startdate" type="text" placeholder="DD - MM - YYYY" {% if form.startdate.value %}value="{{ form.startdate.value }}"{% endif %}>
              {{ form.startdate.errors }}
            </div>
						
						<div class="field">
              {{ form.starttime.label_tag }}
              <input id="id_venuebookingstarttime" name="starttime" type="text" placeholder="H : M - AM/PM" {% if form.starttime.value %}value="{{ form.starttime.value }}"{% endif %}>
              {{ form.starttime.errors }}
            </div>
						
						<div class="field">
              {{ form.enddate.label_tag }}
              <input id="id_enddate" name="enddate" type="text" placeholder="DD - MM - YYYY" {% if form.enddate.value %}value="{{ form.enddate.value }}"{% endif %}>
              {{ form.enddate.errors }}
            </div>
					
  					<div class="field">
              {{ form.endtime.label_tag }}
              <input id="id_venuebookingendtime" name="endtime" type="text" placeholder="H : M - AM/PM" {% if form.endtime.value %}value="{{ form.endtime.value }}"{% endif %}>
              {{ form.endtime.errors }}
            </div>
						<br />
						<div class="clear"></div>
						<p class="head">Contact Person</p>
						<br />
						<div class="clear"></div>
						<div class="field">
              {{ form.contactname.label_tag }}
              {{ form.contactname }}
              {{ form.contactname.errors }}
            </div>
						
						<div class="field">
              {{ form.contactcompany.label_tag }}
              {{ form.contactcompany }}
              {{ form.contactcompany.errors }}
            </div>
						
						<div class="field">
              {{ form.contactemail.label_tag }}
              {{ form.contactemail }}
              {{ form.contactemail.errors }}
            </div>
						
						<div class="field">
              {{ form.contactnumber.label_tag }}
              {{ form.contactnumber }}
              {{ form.contactnumber.errors }}
            </div>
						</div>
						<div class="clear"></div>
						
			        <div class="btns">
				        <input type="submit" value="Submit">				    
                    </div>
				</form>
			</div>
            <div class="clear"></div>           
               
            
        </div> 
    </div><!--/Content-->
{% endblock %}


{% block bottom_js %}
<script>
    $('#frmVenueHire').validate();
</script>
{% endblock %}
