{% extends 'base.html' %}
{% load core_widgets honeypot %}
{% block extra_css %}

<link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css"/>  


{% endblock %}

{% block title %}Apply{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='apply' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'apply' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container registration">
            <p class="context">Join</p>
            <h1>JoziHub Membership Application</h1>
            
            <div class="clear"></div>
            <div class="block">
                <form id="frmRegister" method="post" action=".">{% csrf_token %}
                    <p class="head">Personal Information</p>
                     <div class="clear"></div> 
                     <input type="hidden" name="next" value="">
                     <input type="hidden" name="password" value="1234">

                        <div class="field">
                        <label for="id_firstname">First Name:</label>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                        </div>
                    
                        <div class="field">
                        <label for="id_lastname">Last Name:</label>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                        </div>
                        
                        <div class="field">
                        <label for="id_emailaddress">Email address:</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                        </div>
                        
                        <div class="field">
                        <label for="id_contactnumbers">Contact Numbers:</label>
                        {{ form.phone_number }}
                        {{ form.phone_number.errors }}
                        </div>

                        <div class="clear"></div>
                        {% render_honeypot_field %}
                        <br />
                    <p class="head">Company Information</p>
                    <div class="clear"></div>
                    <div class="field">
                    <label for="id_companyname">Company Name:</label>
                    {{ form.company }}
                    {{ form.company.errors }}
                    </div>
                    
                        <div class="field">
                        <label for="id_companyindustry">Company Industry:</label>
                        {{ form.about_your_organisation }}
                        {{ form.about_your_organisation.errors }}
                        </div>
                        
                        <div class="field">
                            <label for="id_roleincompany">Role In Company:</label>
                            {{ form.job_title }}
                            {{ form.job_title.errors }}
                            
                        </div>
                        
                        <div class="clear"></div>
                        <p class="head">Membership Information</p>
                        <br />
                        <div class="clear"></div>
                        <div class="field">
                        <label for="id_companyindustry">Which type of membership are you interested in?:</label>
                        {{ form.membership_type }}
                        {{ form.membership_type.errors }}
                        </div>
                        
                        <div class="clear"></div>
                        
                        <label>Please provide a brief motivation to support your suitability for the membership selected above:</label>
                        {{ form.what_do_you_aim_to_achieve }}
                        {{ form.what_do_you_aim_to_achieve.errors }}
                        <div class="clear"></div>
                        
                    <div class="btns">
                        <input type="submit" value="Submit">                    
                    </div>
                </form>
            </div>
            <div class="clear"></div>           
               
            
        </div> 
    </div><!--/Content-->
{% endblock %}

{% block bottom_js %}
<script>
    $('#frmRegister').validate();
</script>
{% endblock %}
