{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Logout</p>  
            <h1>You have been logged out</h1>
            <p>You will be redirected in a few seconds. Please visit us again soon!</p>        
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url 'index' %}";
            }, 5000);
        });
    </script>
{% endblock %}