{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
    <div id="content" class="up">
        <div class="container">
            <div class="block">
			    <form id="frmPasswordResetConfirm" action="." method="POST" class="validate_form">{% csrf_token %}
				    <div class="field">
				        <label for="password1">Password <span>*</span></label>
				        {{ form.new_password1 }}{{ form.new_password1.errors }}
				    </div>
				    <div class="field">
				        <label for="password2">Confirm Password <span>*</span></label>
				        {{ form.new_password2 }}{{ form.new_password2.errors }}
				    </div>
				    <div class="btns">
				        <input type="submit" value="Change my password" />
				    </div>
			    </form>
			</div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}