{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Use the form below to retrieve your Account password</p>
            <h1>Forgot your password?</h1>
            <div class="block">
				<form id="frmPasswordReset" action="." method="POST">{% csrf_token %}
				    <div class="field">
						<label for="email">Email Address: *</label>
					    {{ form.email }}{{ form.email.errors }}
				    </div>
				    <div class="clear"></div>
				    <div class="btns">
				        <input type="submit" value="Send Reset Email" />
				    </div>
				</form>
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->				
{% endblock %}