{% extends 'console_base.html' %}

{% block header %}
    {% include 'includes/console_top_nav.html' with on='flatpages' %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
		    <h1>Flat Page</h1>
		    <a href="{% url 'console_flatpage_list' %}">Back to List</a>
		    <div class="clear"></div>
		    
		    <div class="block">
			    <table>
			        <tr>
						<th>Title</th>
						<td>{{ object.title }}</td>
			        </tr>
			        <tr>
			            <th>Content</th> 
			            <td>{{ object.content|safe }}</td>
			        </tr>
			        <tr>
			            <th>Actions</th>
			            <td>
                            <a href="{% url 'console_flatpage_edit' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                        </td>
			        </tr>   
			    </table>
		    </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
