{% extends 'console_base.html' %}
{% load core_widgets %}

{% block header %}
    {% include 'includes/console_top_nav.html' with on='flatpages' %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <h1>Flatpage List</h1>
            <div class="clear"></div>

            <div class="block">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th width="200">URL</th>
                            <th width="160">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td><a href="{% url 'console_flatpage_detail' object.pk %}">{{ object.title }}</a></td>
                            <td>{{ object.url }}</td>
                            <td>
                                <a href="{% url 'console_flatpage_detail' object.pk %}">View&nbsp;&raquo;</a> &nbsp; &nbsp;
                                <a href="{% url 'console_flatpage_edit' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">There are no flatpages to list.</td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% pagination_widget page_obj %}
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
