{% extends 'base.html' %}
{% load core_widgets %}

{% block title %}Gallery{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='gallery' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'gallery' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Gallery</p>
            <h1>Photo Gallery</h1>
            
            <div class="clear"></div>
            <div class="block">
               <div id="instafeed">
        
        		</div><!--instafeed-->

            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}