{% extends 'gallery/galleries.html' %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Gallery</p>
            <h1>{{ object.title }}</h1>
            
            <div class="clear"></div>
            <div class="block">
                <div class="galleria">
                    {% for image in object.images.permitted %}
	                    <a href="{{ image.image.url }}">
	                        <img 
	                            src="{{ image.image.url }}"
	                            data-big="{{ image.image.url }}"
	                        >
	                    </a>
	                {% endfor %}
                </div> 
                <div id="disqus_thread" class="comment_top"></div>
                <a target="_blank" href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}

{% block bottom_js %}
    <script>
        // Load the classic theme
        Galleria.loadTheme('{{ STATIC_URL }}app/js/libs/galleria.twelve.min.js');

        // Initialize Galleria
        Galleria.run('.galleria', {imagePosition: 'top center'});
        
        var disqus_shortname = 'httpjozihuborg'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}