{% extends 'console_base.html' %}

{% block content %}
	<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
	
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
	<h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Job</h1>
	<a href="{% url 'console_jobs_list' %}">Back to List</a>
	
	<form id="frmUpdateJobs" action="." method="POST">{% csrf_token %}
	    <label for="id_image">State</label>
	    {{ form.state }}{{ form.state.errors }}
	
	    <label for="id_title">Job Title</label>
	    {{ form.title }}{{ form.title.errors }}
	
	    <label for="id_application">Application Date</label>
	    {{ form.application_date }}{{ form.application_date.errors }}
	
	    <label for="id_location">Location</label>
	    {{ form.location }}{{ form.location.errors }}

	    <label for="id_job_categories">Job Categories</label>
	    {{ form.job_categories }}{{ form.job_categories.errors }}
	
	    <label for="id_description">Description</label>
	    {{ form.description }}{{ form.description.errors }}
	
	    <input type="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Job" />
	</form>
{% endblock %}
