<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>joziHub {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}app/img/favi.ico" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}app/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="50x50" href="{{ STATIC_URL }}app/img/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}app/img/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}app/img/apple-touch-icon-72x72-precomposed.png" />
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css?v=1" />    
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/galleria.classic.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,600,700,300" type="text/css">
    {% block extra_css %}{% endblock %}
</head>
<body>
<div id="wrap">
<div id="main">
    
    {% block header %}
        {% include 'includes/top_nav.html' %}
    {% endblock %}

    {% block promo %}{% endblock %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

</div><!--/Main-->
</div><!--/Wrap-->
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/galleria-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/galleria.classic.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/js/scripts.js"></script>
{% block bottom_js %}{% endblock %}
</body>
</html>