{% extends 'base.html' %}

{% block title %}Apply{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='apply' %}
{% endblock %}

{% block promo %}
    <div id="promo" class="event">
        <div class="wrapper">
            <div class="container">
                <div class="panel">
                    <h1>We’re champions for people who<br /> create <a href="#">great experiences</a>. Everywhere<br /> and every way they work.</h1>
                </div>
            </div>
        </div>
        <img src="{{ STATIC_URL }}app/img/promo/promo_event.png" />
    </div><!--/Promo-->
{% endblock %}

{% block content %}
    <div id="content" class="up">
        <div class="container">
            <p class="context">Interest and membership application form</p>
            <h1>Apply</h1>
            
            <div class="clear"></div>
            <div class="block">
                <form id="frmApply" method="post" action=".">{% csrf_token %}
                    <p class="head">General Information</p>
                    <div class="field">
                        <label for="id_first_name">First Name</label>
                        {{ form.first_name }}{{ form.first_name.errors }}
                    </div>
                    <div class="field">
                        <label for="id_last_name">Last Name</label>
                        {{ form.last_name }}{{ form.last_name.errors }}
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="text" name="email" value="" />
                    </div>
                    <div class="field">
                        <label>Contact number</label>
                        <input type="text" name="contact_number" value="" />
                    </div>
                    <div class="field">
                        <label>Age</label>
                        <input type="text" name="age" value="" />
                    </div>
                    <div class="field">
                        <label>Which area do you live in?</label>
                        <input type="text" name="area" value="" />
                    </div>
                    <div class="field">
                        <label>How did you hear about us?</label>
                        {{ form.heard_about_from }} {{ form.heard_about_from.errors }}    
                    </div>
                    <div class="field">
                        <label>Your affiliation</label>
                        <select name="affiliation">
                            <option value="Please select">Please select</option>
                            <option value="Start-up">Start-up</option>
                            <option value="Developer">Developer</option>
                            <option value="Organisation">Organisation</option>
                            <option value="Individual">Individual</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>What is your reason for submitting this form?</label>
                        <select name="reason">
                            <option value="Please select">Please select</option>
                            <option value="Physical work space">Physical work space</option>
							<option value="Space to host events">Space to host events</option>
							<option value="To become a partner">To become a partner</option>
							<option value="I would just like to be part of the community">I would just like to be part of the community</option>
							<option value="To become a mentor">To become a mentor</option>
							<option value="Attending an event">Attending an event</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    
                    <div class="field">
                        <label>I would like to get information and update for the JoziHub</label>
                        <input type="radio" name="confirm" value="Yes" />Yes&nbsp;&nbsp;
                        <input type="radio" name="confirm" value="No" />No
                    </div>
                    <div class="clear"></div>
                    
                    <p class="head">Tell us about yourself</p>                    
                    <div class="field">
                        <label>Educational background</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>Tell us about yourself</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <h2>Events hosting</h2>
                    <div class="field">
                        <label>What event are you interested in hosting?</label>
                        <input type="checkbox" name="interest" value="" />Developing<br />
                        <input type="checkbox" name="interest" value="" />Art and design<br />
                        <input type="checkbox" name="interest" value="" />Entrepreneurship<br />
                        <input type="checkbox" name="interest" value="" />Financing and raising capital<br />
                        <input type="checkbox" name="interest" value="" />Other:<br />
                        <input type="text" name="other" value="" /><br />
                    </div>
                    <div class="field">
                        <label>When would you like to host the event?</label>
                        <input type="radio" name="timing" value="As soon as possible" />As soon as possible<br />
                        <input type="radio" name="timing" value="During the next few weeks" />During the next few weeks<br />
                        <input type="radio" name="timing" value="During the next month" />During the next month<br />
                        <input type="radio" name="timing" value="During the next year" />During the next year
                    </div>
                    <div class="field">
                        <label>What do you require from us?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="clear"></div>
                    
                    <p class="head">Work space</p>
                    <div class="field">
                        <label>How can you contribute to the JoziHub community?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>What do you aim to get from the JoziHub?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>When would you like to get access to the space?</label>
                        <input type="radio" name="access" value="Immediately" />Immediately<br />
                        <input type="radio" name="access" value="During the next few weeks" />During the next few weeks<br />
                        <input type="radio" name="access" value="During the next month" />During the next month<br />
                        <input type="radio" name="access" value="During the next year" />During the next year
                    </div>
                    <div class="field">
                        <label>What type of space do you require?</label>
                        <input type="checkbox" name="space" value="Open space" />Open space ( no charge, access depends on availability)<br />
                        <input type="checkbox" name="space" value="Part time hot desk space (60 hours a week for R800)" />Part time hot desk space (60 hours a week for R800)<br />
                        <input type="checkbox" name="space" value="Part time hot desk space (120 hours a week for R1500)" />Part time hot desk space (120 hours a week for R1500)<br />
                        <input type="checkbox" name="space" value="Full time hot desk space (Fixed desk for R2550)" />Full time hot desk space (Fixed desk for R2550)<br />
                        <input type="checkbox" name="space" value="Office space" />Office space<br />
                    </div>
                    <div class="field">
                        <label>Are you happy with the price?</label>
                        <input type="radio" name="price_happy" value="yes"  />Yes<br />
                        <input type="radio" name="price_happy" value="no" />No
                    </div>
                    <div class="clear"></div>
                    
                    <p class="head">Partners</p>
                    <div class="field">
                        <label>Do you want to become a partner or funder for the Hub?</label>
                        <input type="checkbox" name="partner_funder" value="Strategic partner" />Strategic partner (present courses, event or service)<br />
                        <input type="checkbox" name="partner_funder" value="Funder" />Funder<br />
                        <input type="checkbox" name="partner_funder" value="Other" />Other:<br />
                        <input type="text" name="other" value="" />
                    </div>
                    <div class="field">
                        <label>Tell us about your organisation</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>What do you aim to achieve out of the partnership?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>What do you expect from the partnership?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="clear"></div>
                    
                    <p class="head">Mentor</p>
                    <div class="field">
                        <label>What is your field of expertise?</label>
                        <input type="radio" name="expertise" value="Developing" />Developing<br />
                        <input type="radio" name="expertise" value="Art and design" />Art and design<br />
                        <input type="radio" name="expertise" value="Entrepreneurship" />Entrepreneurship<br />
                        <input type="radio" name="expertise" value="Financing and raising capital" />Financing and raising capital<br />
                        <input type="radio" name="expertise" value="Other" />Other:<br />
                        <input type="text" name="other" value="" />
                    </div>
                    <div class="field">
                        <label>What is you background and expertise? (short CV or profile)</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>What can you offer as a mentor?</label>
                        <textarea cols="50" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>How much time a month can you assist in mentoring?</label>
                        <input type="text" name="mentor_time" value="" />
                    </div>
                    <div class="clear"></div>
                    <p class="btns">
                        <input type="submit" value="Apply" />
                    </p>
                </form>
            </div>
            <div class="clear"></div>           
        </div> 
    </div><!--/Content-->
{% endblock %}