{% extends 'base.html' %}
{% load core_widgets %}
-{% block promo %}
-    {% html_bannerset_widget 'home' %}
-{% endblock %}
{% block content %}
    <div id="vision">
        <div class="container">
            <p class="context">Our Vision</p>
            <h1>JoziHub is a co-creation space in Johannesburg dedicated to creating sustainable change in Africa.</h1>
            <div class="intro">South Africa has the most developed telecommunications industry on the continent (there are more Sim cards than people). Within the context of this dynamic country, Johannesburg continues to be the engine room of the African economy and the perfect location for an incubator created to kickstart &amp; accelerate innovation in the tech and social spheres.</div>
            <div class="intro">We foster a culture of openness and innovation &ndash; providing a space to share ideas, collaborate and explore the opportunities created by the social and technological changes which are transforming our continent. In addition to providing a stimulating working environment we provide our members with access to a network of innovators and inspirational events and activities.</div>
        </div>
    </div><!--/Vision-->

    <div id="pics">
        <img src="{{ STATIC_URL }}app/img/member_collage.jpg" />
    </div><!--/Pics-->

    <div id="become">
        <div class="container">
            <p class="context">Become a Member</p>
            <h1><a href="{% url 'secure_register' %}">Join now to become part of this highly <br />dynamic, interactive environment.<img src="{{ STATIC_URL }}app/img/arrow_promo.png" /></a></h1>
        </div>
    </div><!--/Become-->

    <div id="partners">
        <div class="container">
            <p class="context">Partners</p>
            <h1>JoziHub exists because of the generous support of our partners.</h1>
            <h2>Read more about them below and get in touch if you want to play a part in shaping Africa's future.</h2>
            <div class="logos">
                <a href="http://www.google.com/entrepreneurs/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_google.png" /></a>
                <a href="http://www.praekeltfoundation.org/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_prkfoundation.png" /></a>
                <a href="http://www.omidyar.com/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_omidyar.png" /></a>
                <a href="http://afrilabs.com/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_afrilabs.png" /></a>
                <a href="http://www.siliconcape.com/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_silicon.png" /></a>
                <a href="http://www.islabs.co.za/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_is.png" /></a>
                <a href="http://www.thinkpaint.co.za/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_thinkpaint.png" /></a>
                <a href="http://indigotrust.wordpress.com/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_indigo.png" /></a>
                <a href="http://www.venturesolutions.co.za/" target="_blank"><img src="{{ STATIC_URL }}app/img/logo_venture.png" /></a>
            </div>
            <div class="clear"></div>
        </div> 
    </div><!--/Partners-->
{% endblock %}
