<div id="social">
    <div class="container">
        <p class="context">Connect With Us</p>
        <ul>
          <li class="soc_contact"><a href="mailto:info@jozihub.org?Subject=Enquiry from www.jozihub.org" class="mail">Contact us</a></li>
            <li class="soc_twitter"><a href="https://twitter.com/JoziHub" target="_blank">Twitter</a></li>
            <li class="soc_tumblr"><a href="http://www.tumblr.com/blog/jozihub" target="_blank">Tumblr</a></li>
            <li class="soc_flickr"><a href="{% url 'galleries' %}">Flickr</a></li>
            <li class="soc_gplus"><a href="https://plus.google.com/u/0/communities/103952260929848965709" target="_blank">Google +</a></li>
            <li class="soc_map"><a href="https://maps.google.co.za/maps?ie=UTF8&cid=17258781349820171613&q=44+Stanley+Avenue+Centre&iwloc=A&gl=ZA&hl=en" target="_blank">44 Stanley Ave, Milpark, Jozi</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div><!--/Social-->

<div id="footer">
    <div class="container">
        <div class="address">&copy; Jozihub<br />44 Stanley Ave, Milpark, Jozi, SA<br />Site by <a href="http://unomena.com/" target="_blank">Unomena</a></div>
        <ul>
            <li><a href="/membership-terms/">Membership Terms</a></li>
            <li><a href="/data-protection-policy/">Data Protection Policy</a></li>
            <li><a href="/code-of-conduct/">Code Of Conduct</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div><!--/Footer-->
