<div id="header">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul>
        <li {% if on == 'news' %}class="on"{% endif %}><a href="{% url 'news' %}">News</a></li>
        <li {% if on == 'events' %}class="on"{% endif %}><a href="{% url 'events' %}">Events</a></li>
        <li {% if on == 'membership' %}class="on"{% endif %}><a href="/membership/">Membership</a></li>
        <li {% if on == 'partners' %}class="on"{% endif %}><a href="{% url 'partners' %}">Partners</a></li>
        <li {% if on == 'gallery' %}class="on"{% endif %}><a href="{% url 'galleries' %}">Gallery</a></li>
        <li {% if on == 'apply' %}class="on"{% endif %}><a href="{% url 'apply' %}">Apply</a></li>
    </ul>
    <a href="#social" class="nav_connect">Connect</a>
</div><!--/Header-->