<div id="header">
    <a href="{% url 'index' %}" class="logo"></a>
    <a href="#social" class="nav_connect">Connect</a>
    <ul>
        <li {% if on == 'news' %}class="on"{% endif %}><a href="http://www.tumblr.com/blog/jozihub">Blog</a></li>
        <li {% if on == 'events' %}class="on"{% endif %}><a href="{% url 'events' %}">Events</a>
          <div class="sub-menu">
            <ul>
              <li><a href="{% url 'events' %}">Events Calendar</a></li>
              <li><a target="_blank" href="{{ STATIC_URL }}app/pdfs/JoziHub_Event_Info_Ratecard.pdf">Venue Hire</a></li>
            </ul>  
          </div>
        </li>
        <li {% if on == 'membership' %}class="on"{% endif %}><a href="/membership/">Membership</a></li>
        <li {% if on == 'partners' %}class="on"{% endif %}><a href="{% url 'partners' %}">Partners</a></li>
        <li {% if on == 'gallery' %}class="on"{% endif %}><a href="{% url 'galleries' %}">Gallery</a></li>
        <li {% if on == 'apply' %}class="on"{% endif %}><a href="{% url 'secure_register' %}">Apply</a></li>
        <li {% if on == 'jobs' %}class="on"{% endif %}><a href="{% url 'jobs' %}">Jobs</a></li>
         <li {% if on == 'startups' %}class="on"{% endif %}><a href="{% url 'startups' %}">Startup</a></li>
        {% if not user.is_authenticated %}
          <li {% if on == 'sign_in' %}class="on"{% endif %}><a href="{% url 'secure_login' %}">Sign In</a></li>
        {% else %}
          {% if user.can_access_console %}
            <li {% if on == 'console' %}class="on"{% endif %}><a href="{% url 'console_landing_page' %}">Console</a></li>
          {% endif %}
          {% comment %}<li {% if on == 'profile' %}class="on"{% endif %}><a href="{% url 'secure_profile' %}">My Profile</a></li>{% endcomment %}
          <li {% if on == 'sign_in' %}class="on"{% endif %}><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% endif %}
    </ul>
    <a href="javascript: void(0);" class="mobi_handle"></a>
</div><!--/Header-->
