{% extends 'base.html' %}
{% load core_widgets %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css"/>  

{% endblock %}

{% block title %}Partners{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='partners' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'partners' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Services</p>
            {% for object in object_list %}
	            {% if object.order == 0 %}
	            	<h1>{{ object.title }}</h1>
	            	{{ object.rich_content | safe }}
	            {% endif %}
			{% endfor %}
            <div class="clear"></div>
			<div class="block">
	            {% for object in object_list %}
	            	{% if object.order != 0 %}
              			<h1><a href="/services/{{ object.slug }}"><img src="{{ MEDIA_URL }}{{ object.image }}"></a></h1>
              			{{ object.rich_content | safe }}
		            {% endif %}
		        {% empty %}
		           <p>There are no partners to list.</p>
		        {% endfor %}
		    </div>
		    <div class="clear"></div>
	        </div><!--/container-->         
    </div><!--/Content-->
{% endblock %}