{% extends 'email/base.html' %}

{% block content %}
Dear {{ user.first_name }},

Thank you for registering with us via the <a href="http://{{ site }}">jozihub.org</a> website.
We’re excited that you are on board with us and we hope to see you at JoziHub soon.
We’ll keep you posted on updated news and events via our newsletter. But before that we need you to validate your registration so <a href="http://{{ site }}/authentication/secure/activate/{{ activation_key }}/">please click HERE</a>

Remember to follow us on twitter and instagram @jozihub or on <a href="https://facebook.com/jozihub">facebook.com/jozihub</a>

Take care,
The JoziHub Comms Team
{% endblock %}
