{% extends 'base.html' %}
{% load core_widgets %}

{% block title %}Job Detail{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='jobs' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'jobs' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Jobs</p>
            <h1>{{ object.title }}</h1>
            
            <div class="clear"></div>
            <div class="block">
	                <div class="block1">
	                <p class="details"><strong>Application Date</strong>: {{ object.application_date|date:"l" }}, {{ object.application_date|date:"j F Y" }}</p>
	                <p class="details"><strong>Location</strong>: {{ object.location }}</p>
	                <p class="details"><strong>Job Category</strong>: {{ object.get_job_categories }}</p>
	                <p class="title">Description</p>
	                <p>{{ object.description }}</p>
	                <div class="clear"></div>
	                <a href="{% url 'jobs' %}">Back</a>
	                <div class="clear"></div>
                </div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}
