{% extends 'base.html' %}
{% load core_widgets %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css"/>  

{% endblock %}

{% block title %}Jobs{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='jobs' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'jobs' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container job">
            <p class="context">Jobs</p>
            <a class="post" href="{% url 'post_job' %}">Post a job</a>
            <h1>Interested in working with us</h1>
            
            <div class="clear"></div>
            <div class="block">
                {% for object in object_list %}
                <div class="block1">
                    <p class="title">{{ object.title }}</p>
                    <p class="details">Application Date: {{ object.application_date|date:"l" }}, {{ object.application_date|date:"j F Y" }}</p>
                    <p class="details">Location: {{ object.location }}</p>
                    <p class="details">Job Category: {{ object.get_job_categories }}</p>
                    <p>{{ object.description|truncatewords:40 }}</p>
	                <p class="btns"><a href="{% url 'job_detail'  object.slug %}">Read more</a></p>
                    <div class="clear"></div>
                </div>
                {% empty %}
                    <p>There aren't any jobs posted.</p>
                {% endfor %}
            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}
