{% extends 'base.html' %}
{% load core_widgets %}

{% block title %}Jobs{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='jobs' %}
{% endblock %}

{% block promo %}
    {% html_bannerset_widget 'jobs' %}
{% endblock %}

{% block content %}
    <div id="content"  class="up">
        <div class="container">
            <p class="context">Jobs</p>
            <a class="post" href="{% url 'post_job' %}">Post a job</a>
            <h1>Jobs</h1>
            
            <div class="clear"></div>
            <div class="block">
                {% for object in object_list %}
                <div class="block1">
                    <p class="title">{{ object.title }}</p>
                    <p class="details">Application Date: {{ object.application_date|date:"l" }}, {{ object.application_date|date:"j F Y" }}</p>
                    <p class="details">Location: {{ object.location }}</p>
                    <p class="details">Job Category: </p>
                    {{ object.description|truncatewords:40 }}
	                <a href="{% url 'job_detail'  object.slug %}">Read more</a>
                </div>
                {% empty %}
                    <p>There aren't any jobs posted.</p>
                {% endfor %}
            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}
