{% extends 'base.html' %}
{% load core_widgets honeypot %}

{% block title %}Post a Job{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='jobs' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'jobs' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Jobs</p>
            <h1>Jobs</h1>
            
            <div class="clear"></div>
            <div class="block">
                <a href="javascript: history.go(-1)">Back</a>            
                <form id="frmApply" method="post" action=".">{% csrf_token %}
                    <p class="head">Job Information</p>
                    <div class="field">
                        <label for="id_job_title">Job title</label>
                        {{ form.title }}{{ form.title.errors }}
                    {% render_honeypot_field %}
                    <div class="field">
                        <label for="id_deadline">Application Date</label>
                        {{ form.application_date }}{{ form.application_date.errors }}
                    </div>
                    <div class="field">
                        <label for="id_description">Description</label>
                        {{ form.description }}{{ form.description.errors }}
                    </div>
                    </div>
                    <div class="field">
                        <label for="id_location">Location</label>
                        {{ form.location }}{{ form.location.errors }}
                    </div>
                    <div class="field">
                        <label for="id_job_categories">Job Categories</label>
                        {{ form.job_categories }}{{ form.job_categories.errors }}
                    </div>
                    <div class="clear"></div>
                    <p class="btns">
                        <input type="submit" value="Post job" />
                    </p>
                </form>
            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}
{% block bottom_js %}
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/datepicker.css?v=1" />
<script type="text/javascript" src="{{ STATIC_URL }}app/js/libs/datepicker.min.js"></script>
<script>
    $('#frmApply').validate();
    
  //Datepicker
    $('input.datepicker').Zebra_DatePicker({
        direction: true,
        disabled_dates: ['* * * 0,6'],
        offset: [-454, 336]
    });
</script>
{% endblock %}
