{% extends 'jobs/post_job.html' %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Success!</p>
            <h1>Thank you for posting a job.</h1>
            
            <div class="clear"></div>
            <div class="block">
                <p>This page will redirect back to the <a href="{% url 'jobs' %}">job listing</a> page shortly.</p> 
            </div>
            <div class="clear"></div>           
        </div> 
    </div><!--/Content-->
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'jobs' %}";
        }, 7500);
    </script>
{% endblock %}
