{% extends 'console_base.html' %}

{% block header %}
    {% include 'includes/console_top_nav.html' with on='services' %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div id="content">
        <div class="container">
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Service</h1>
            <a href="{% url 'console_services_list' %}">Back to Services List</a>
            <div class="clear"></div>

            <div class="block">
                <form id="frmUpdateService" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   
                    <div class="field">
                        <div class="field edit-image">
                                {% if form.object %}
                                    <label>Current Image</label>
                                    <img src="{{ form.object.get_64x64_url }}" />
                                {% endif %}
                            <div class="revert">{{ form.image }}{{ form.image.errors }}</div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="field">
                        <label for="id_title">Name</label>
                        {{ form.title }}{{ form.title.errors }}
                    </div>

                    <div class="clear"></div>
                    <div class="field">
                        <label for="id_rich_content">Description</label>
                        {{ form.rich_content }}{{ form.rich_content.errors }}
                    </div>

                    <div class="clear"></div>
                    <div class="field">
                        <label for="id_order">Order</label>
                        {{ form.order }}{{ form.order.errors }}
                    </div>

                    <div class="clear"></div>


                    <div class="clear"></div>
                    <p class="btns">
                        <input type="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Service" />
                    </p>
                </form>
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
