{% extends 'console_base.html' %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div id="content"  class="up">
        <div class="container">
            <p class="context">News</p>
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} News</h1>
                <a href="{% url 'console_news_list' %}">Back to News List</a>
            <div class="clear"></div>

            <div class="block">
                <form id="frmUpdateNews" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <label for="id_state">State</label>
                        {{ form.state }}{{ form.state.errors }}
                    </div>

                    <div class="field">
                        <div class="field edit-image">
                                {% if form.object %}
                                    <label>Current Image</label>
                                    <img src="{{ form.object.get_64x64_url }}" />
                                {% endif %}
                            <div class="revert">{{ form.image }}{{ form.image.errors }}</div>
                        </div>
                    </div>

                    {% if form.existing_images %}
                    <div class="field">
                        <div class="field edit-image">
                            <label>Choose an existing image</label>
                            <img id="image_choice_existing_preview" src="{{ form.object.get_64x64_url }}" />
                            <input id="image_choice_existing" type="radio" name="image_choice" value="existing" > Existing Image
                            <div class="revert">{{ form.existing_image }}{{ form.existing_image.errors }}</div>
                            <div class="revert">{% if form.object %}Revert to default image{{ form.default_image }}{% endif %}</div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="field">
                        <label for="id_title">Title</label>
                        {{ form.title }}{{ form.title.errors }}
                    </div>

                    <div class="clear"></div>
                    <div class="field">
                        <label for="id_rich_content">Content</label>
                        {{ form.rich_content }}{{ form.rich_content.errors }}
                    </div>

                    <div class="clear"></div>
                    <p class="btns">
                        <input type="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} News" />
                    </p>
                </form>
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}

{% block bottom_js %}
    <script>
        $('#frmUpdateNews').validate();
    </script>
{% endblock %}
