{% extends 'console_base.html' %}
{% load core_widgets %}

{% block header %}
    {% include 'includes/console_top_nav.html' with on='jobs' %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <h1>Jobs List</h1>
            <div class="clear"></div>

            <div class="block">
                <a href="{% url 'console_jobs_create' %}">Add Job</a>
                <table>
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>Title</th>
                            <th width="180">Application Date</th>
                            <th width="160">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.get_state_display }}</td>
                            <td><a href="{% url 'console_jobs_detail' object.pk %}">{{ object.title }}</a></td>
                            <td>{{ object.application_date|date:"j F Y" }}</td>
                            <td>
                                <a href="{% url 'console_jobs_detail' object.pk %}">View&nbsp;&raquo;</a> &nbsp; &nbsp;
                                <a href="{% url 'console_jobs_update' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                                <a href="{% url 'console_jobs_delete' object.pk %}">Delete&nbsp;&raquo;</a> 
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">There are no jobs to list.</td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% pagination_widget page_obj %}
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
