#insta-wrap {
	width: 1280px;
	height: 00px;
	margin: 35px auto 0 auto;
}
#instafeed img { 
	border: 1px gray solid;
    margin-right: 9px;
    margin-bottom: 10px;
    width: 315px;
    height: 315px;
    border-radius: 3px;
}

#instafeed img:hover {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
