/**************************************************************************************************************************************/
/*  HTML5 BOILERPLATE */

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    html { font-size: 100%; }
    html, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #5b656c; outline: none!important; }
    body { margin: 0; font-size: 13px; line-height: 21px; }

    ::-moz-selection { background: #999; color: #000; text-shadow: none; }
    ::selection { background: #999; color: #000; text-shadow: none; }

    a { color: #39b7b8; text-decoration: none; }
    a:visited { color: #39b7b8; text-decoration: none; }
    a:hover { color: #39b7b8; text-decoration: none; }
    a:focus { outline: none; }
    a:hover, a:active { outline: none; }
    abbr[title] { border-bottom: 1px dotted; }
    b, strong { font-weight: bold; }
    blockquote { margin: 1em 40px; }
    dfn { font-style: italic; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    ins { background: #ff9; color: #000; text-decoration: none; }
    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
    pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }
    small { font-size: 85%; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
    dd { margin: 0 0 0 40px; }
    nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    svg:not(:root) { overflow: hidden; }
    figure { margin: 0; }

    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }

    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
    button[disabled], input[disabled] { cursor: default; }
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }
    input:focus { outline: none; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/**************************************************************************************************************************************/
/*  HELPERS */

    .clear { width: 100%; height: 0; clear: both; }
    .align-left { float: left!important; }
    .align-right { float: right!important; }
    .align-none { float: none!important; }
    .text-left { text-align: left!important; }
    .text-right { text-align: right!important; }
    .text-center { text-align: center; }
    .no-bord { border: 0!important; }
    .no-marg { margin: 0!important; }
    .no-marg-right { margin-right: 0!important; }
    .no-pad { padding: 0!important; }
    .hidden { display: none; }
    .marg-top { margin-top: 10px!important; }


/**************************************************************************************************************************************/
/*  GRID */
    
    .span1 { width: 70px; float: left; display: inline-block; }
    .span2 { width: 170px; float: left; display: inline-block; }
    .span3 { width: 270px; float: left; display: inline-block; }
    .span4 { width: 370px; float: left; display: inline-block; }
    .span5 { width: 470px; float: left; display: inline-block; }
    .span6 { width: 570px; float: left; display: inline-block; }
    .span7 { width: 670px; float: left; display: inline-block; }
    .span8 { width: 770px; float: left; display: inline-block; }
    .span9 { width: 870px; float: left; display: inline-block; }
    .span10 { width: 970px; float: left; display: inline-block; }
    .span11 { width: 1070px; float: left; display: inline-block; }
    .span12 { width: 1170px; float: left; display: inline-block; }
    .span13 { width: 1240px; float: left; display: inline-block; } /* only used for overflows */
    .push { margin-right: 30px; }


/**************************************************************************************************************************************/
/*  FONTS */

    .context,
    h1,
    #header ul li a,
    #header .nav_connect,
    #social ul li a,
    #footer .address,
    #footer ul li a,
    #promo .deets a, 
    .title,
    .post,
    .table_title { font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; }
    h2,
    .block .block2 .block_head .details,
    .block .details, 
    em { font-family: 'Open Sans Condensed', sans-serif; font-weight: 300; }


/**************************************************************************************************************************************/
/*  GLOBAL */

    html, body { background: #222b32 url('../img/bg.png') top center no-repeat; }
    #main { width: 1400px; margin: 0 auto; background: #fff; position: relative; }        
        .banner_error { position: absolute; top: 80px; left: 30px; color: #ff0000; }
    .container { width: 980px; margin: 0 auto; /* this controls the width of the site for media queries - check at the bottom of this file */ }
    .context { margin: 0; padding: 0; font-size: 24px; text-transform: uppercase; color: #3eb7b8; line-height: 28px; }
    h1 { margin: 5px 0 0 0; font-size: 48px; color: #232c32; line-height: 52px; }
    h2 { margin: 15px 0 0 0; font-size: 28px; color: #232c32; line-height: 32px; }


/**************************************************************************************************************************************/
/*  HEADER */

    #header { width: 1400px; height: 74px; background: #fff url('../img/border.png') bottom repeat-x; position: fixed; z-index: 1000; }
        #header .logo { width: 162px; height: 41px; float: left; margin: 16px 190px 0 30px; background: url('../img/logo.png') no-repeat; }
        #header .mobi_handle { display: none; }
        #header ul { margin: 0; padding: 0; list-style: none; }
        #header ul li { float: left; }
        #header ul li a { margin: 0 19px; display: inline-block; font-size: 18px; text-transform: uppercase; color: #222c32; line-height: 74px; }
        #header ul li a:hover { color: #3db7b8; }
        #header ul li.on a { background: url('../img/nav_hit.png') top repeat-x; }
        #header .nav_connect { float: right; padding: 0 45px; background: #d71232; display: inline-block; font-size: 18px; text-transform: uppercase; color: #fff; line-height: 74px; }


/**************************************************************************************************************************************/
/*  SECTIONS */

    /* Promo */
    /*#promo { padding: 74px 0 0 0; min-height: 522px; background: #f4f4f5; position: relative; }
        #promo > img { position: absolute; top: 0; left: 0; z-index: 1; }
        #promo .wrapper { min-height: 522px; background: url('../img/promo.png') left center no-repeat; position: relative; z-index: 2; }
        #promo .container { padding: 85px 0 75px 0;  }
        #promo .panel { width: 450px; }
        #promo .context { color: #000; }
        #promo h1 { text-transform: uppercase; color: #d71232; }
        #promo .desc { font-size: 16px; line-height: 28px; }
        #promo .deets a { font-size: 32px; text-transform: uppercase; color: #d71232; line-height: 38px; }
        #promo .deets a img { display: inline-block; padding: 0 0 0 20px; margin: -6px 0 0 0; } 
     */
        /* Promo on event page */
        /* #promo.event .wrapper { background: none; }
        #promo.event .panel { width: 980px; text-align: center; }
        #promo.event h1 { margin: 70px 0 0; line-height: 60px; font-size: 60px; text-transform: none; color: #fff; }
        #promo.event h1 a { color: #3db7b8; }
        #promo > img { top: 74px; }
        */
        
    /* Image only promo */
    #promo  { padding: 74px 0 0 0; min-height: 282px; background: #f4f4f5; position: relative; }
    	#promo .container { padding: 0; }
    	#promo > img { position: absolute; top: 0; left: 0; z-index: 1; }

    /* Our Vision */
    #vision { padding: 75px 0 85px 0; }
        #vision .intro { width: 445px; padding: 30px 0 0 0; font-size: 16px; line-height: 28px; display: inline-block; }
        #vision .intro:last-child { float: right; }

    /* Become a Member */
    #become { padding: 75px 0 85px 0; background: #f4f4f5; }
        #become .container { background: url('../img/element.png') right center no-repeat; }
        #become .context { color: #d61332; }
        #become h1 img { padding: 0 0 0 25px; }
        #become h1 a { color: #232c32; }

    /* Partners */
    #partners { padding: 75px 0 85px 0; }
        #partners .context { color: #5e9e1f; }
        #partners .logos { padding: 20px 0 0 0; }
        #partners .logos a { display: inline-block; margin: 40px 20px 0 20px; }

    /* Social Section at the bottom of Homepage (possibly all pages) */
    #social { padding: 75px 0; background: #f4f4f5; }
        #social .context { color: #ffae00; }
        #social ul { float: left; margin: 0; padding: 0; list-style: none; text-align: center; }
        #social ul li { width: 100px; float: left; margin: 0 75px 0 0; padding: 50px 0 0 0; display: inline-block; text-align: center; }
        #social ul li:last-child { margin: 0; }
        #social ul li a { width: 100px; float: left; padding: 110px 0 0 0; font-size: 15px; text-transform: uppercase; color: #232c32; }
        #social ul li.soc_contact a { background: url('../img/icon_contact.png') top center no-repeat; }
        #social ul li.soc_contact a:hover { color: #fbc50d; }
        #social ul li.soc_twitter a { background: url('../img/icon_twitter.png') top center no-repeat; }
        #social ul li.soc_twitter a:hover { color: #3db7b8; }
        #social ul li.soc_tumblr a { background: url('../img/icon_tumblr.png') top center no-repeat; }
        #social ul li.soc_tumblr a:hover { color: #9e9e9e; }
        #social ul li.soc_flickr a { background: url('../img/icon_flickr.png') top center no-repeat; }
        #social ul li.soc_flickr a:hover { color: #d41332; }
        #social ul li.soc_gplus a { background: url('../img/icon_gplus.png') top center no-repeat; }
        #social ul li.soc_gplus a:hover { color: #e56d2e; }
        #social ul li.soc_map a { background: url('../img/icon_map.png') top center no-repeat; }
        #social ul li.soc_map a:hover { color: #689f32; }

    /* Title of Subpages */
    #title { padding: 75px 0; background: #f4f4f5; }

    /* Content */
    #content { padding: 149px 0 75px 0; font-size: 16px; line-height: 28px; }
        #content.up { padding: 60px 0 75px 0; }
        #content h1 { padding-bottom: 10px; text-transform: capitalize; }
        #content h2 { margin: 30px 0; }
        #content .page_intro { width: 445px; margin: 0 90px 10px 0; float: left; padding: 30px 0 0 0; font-size: 16px; line-height: 28px; display: inline-table; } 
        
        .block { margin: 20px 0 0; padding: 10px 0 0; border-top: 2px solid #e2e3e4; }
            .block .std_terms { font-style: italic; }
            .block .title { padding: 0 0 18px; font-size: 30px; color: #222b32; }
            .block .table_title { padding: 15px 0 25px; font-size: 30px; color: #222b32; }
            .block a.logo { width: 202px; float: right; margin: 10px 0 20px 20px; padding: 30px; text-align: center; border: 1px solid #e2e3e4; }
            .block .block1 { width: 100%; display: block; padding: 0 0 25px; }
            .block .block1 img { margin: 0 auto; }
            .block .block1 .title { margin: 30px 0 0; padding: 0 0 15px; line-height: 30px; }
            .block .block1 .details { margin: 0; font-size: 20px; color: #222b32; }
            
            .block .block2 { width: 450px; float: left; margin: 0 80px 30px 0; }
            .block .block2:nth-child(even) { margin: 0 0 30px 0!important; }
            .block .block2 .block_head img { float: left; margin: 0 30px 0 0; }
            .block .block2 .block_head .title { margin: 30px 0 0 130px; padding: 0 0 8px; line-height: 30px; text-transform: capitalize; }
            .block .block2 .block_head .details { margin: 0 0 0 130px; font-size: 20px; color: #222b32; }
            
            .block .block3 { width: 290px; float: left; margin: 0 30px 30px 0; }
            .block .block3 .title { margin: 30px 0 0; font-size: 30px; color: #222b32; }
            
            .block form .head { padding: 10px; font-size: 24px; text-transform: uppercase; background: #3eb7b8; color: #fff; line-height: 28px; }
            .block .field { width: 490px; float: left; margin: 10px 0; }
            .block label { display: block; margin: 0 0 5px; }
            .block .field input[type="text"],
            .block .field input[type="password"],
            .block .field input[type="email"],
            .block .field input[type="number"],
            .block .field input[type="url"],
            .block .field textarea { width: 430px; background: #f4f4f5; margin: 10px 0 0; padding: 6px 10px; color: #222b32; border: 2px solid #e2e3e4; }
            .block .field textarea { height: 100px; resize: none; } 
            .block .field select { width: 451px; background: #f4f4f5; border: 2px solid #e2e3e4; margin: 8px 0 0; padding: 6px 10px; color: #222b32; }
            .block form .field input:focus,
            .block form .field select:focus,
            .block form .field textarea:focus { background: #fff; border: 2px solid #3db7b8; }
            .block input[type="checkbox"] { margin: 0 20px 0 0; }
            .block input[type="radio"] { margin: 0 10px 0 1px; }
            .block form .btns { margin: 18px 0 0; }
            .block .btns input { padding: 10px 35px; border: none; background: #3db7b8; color: #fff; text-transform: uppercase; font-weight: bold; }
            .block form .forgot { clear: both; padding: 10px 0 0; }
            .block .error { color: #ee4423; font-size: 13px; }
            .block .errorlist { list-style-type: none; margin: 2px 0 0; padding: 0; }
                .block .errorlist li { color: #ee4423; font-size: 13px; }
            .block ul { list-style-type: none; padding: 0; }
                   
        
    /* Buttons */
    .btns { margin: 0 10px 0 0; float: left; background: #3db7b8; text-align: center; }
    .btns a { display: block; padding: 10px 35px; color: #fff; text-transform: uppercase; font-weight: 700; }
    
    /* Post button */
    #content .post { float: right; padding: 10px 35px; background: #3eb7b8; display: inline-block; font-size: 18px; text-transform: uppercase; color: #fff; line-height: 24px; }
    
    /* Galleria */
    .galleria { width: 980px; height: 400px; background: #f4f4f5; }
    .galleria.more_marg { margin: 30px 0 0; }
    /* Override galleria styles */
    .galleria-container { background: #f4f4f5!important; }
    .galleria-info-link { background: #ccc!important; }
    /* Disqus*/
    .comment_top { margin: 50px 0 0; } 
    
    /* Tables */
    #content table { width: 100%; }
    #content table th { background: #3db7b8; color: #fff; text-transform: uppercase; text-align: left; }
    #content table th,
    #content table td { padding: 15px 25px; line-height: 24px; }
    #content table tr:nth-child(odd) { background: #f4f4f5; }
    #content table tr:last-child { background: #fff; }
    #content table ul { margin: 0; }
    
    /* Images on detail pages */
    .detail_image { width: 200px; float: right; margin: 0 0 30px 30px; border: 7px solid #39b7b8; }

/**************************************************************************************************************************************/
/*  FOOTER */

    #footer { padding: 45px 0; }
        #footer .address { float: left; padding: 0 0 0 82px; background: url('../img/footer_icon.png') left center no-repeat; font-size: 15px; text-transform: uppercase; color: #232c32; }
        #footer .address a:hover { color: #232c32; }
        #footer ul { float: right; margin: 0; padding: 0; list-style: none; }
        #footer ul li { float: left; padding: 0 0 0 35px; }
        #footer ul li a { display: block; font-size: 15px; text-transform: uppercase; color: #232c32; line-height: 60px; }
        #footer ul li a:hover { color: #39b7b8; }


/**************************************************************************************************************************************/
/*  PRINTING */

    @media print {
        * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
        a, a:visited { text-decoration: underline; }
        a[href]:after { content: " (" attr(href) ")"; }
        abbr[title]:after { content: " (" attr(title) ")"; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
        pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
        thead { display: table-header-group; } 
        tr, img { page-break-inside: avoid; }
        img { max-width: 100% !important; }
        @page { margin: 0.5cm; }
        p, h2, h3 { orphans: 3; widows: 3; }
        h2, h3 { page-break-after: avoid; }
    }
