{% extends 'news/news.html' %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context"></p>
            <h1>{{ object.title }}</h1>
            
            <div class="clear"></div>
            <div class="block">
	            <a href="{% url 'news' %}">Back</a>
	            <p class="details">{{ object.publish_at|date:"j F Y" }}</p>
	            {{ object.rich_content|safe }}
            </div><!--/block-->
            <div class="clear"></div>           
        </div> 
    </div><!--/Content-->
{% endblock %}
