{% extends 'console_base.html' %}
{% load core_widgets %}

{% block content %}
    <div id="content"  class="up">
        <div class="container">
            <p class="context">Galleries</p>
            <h1>Galleries List</h1>
            <div class="clear"></div>

            <div class="block">
                <a href="{% url 'console_gallery_create' %}">Add Gallery</a>
                <table>
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.get_state_display }}</td>
                            <td><img src="{{ object.get_64x64_url }}" /></td>
                            <td><a href="{% url 'console_gallery_detail' object.pk %}">{{ object.title }}</a></td>
                            <td>
                                <a href="{% url 'console_gallery_detail' object.pk %}">View&nbsp;&raquo;</a> &nbsp; &nbsp;
                                <a href="{% url 'console_gallery_update' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                                <a href="{% url 'console_gallery_delete' object.pk %}">Delete&nbsp;&raquo;</a> 
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">There are no galleries to list.</td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% pagination_widget page_obj %}
            </div><!--/block-->
        </div><!--/container-->
    </div><!--/content-->
{% endblock %}
