{% extends 'base.html' %}
{% load core_widgets %}

{% block title %}Startups{% endblock %}

{% block header %}
    {% include 'includes/top_nav.html' with on='startups' %}
{% endblock %}

{% comment %}
	{% block promo %}
	    {% html_bannerset_widget 'startups' %}
	{% endblock %}
{% endcomment %}

{% block content %}
    <div id="content">
        <div class="container">
            <p class="context">Startups</p>
            <h1>Startup Companies</h1>
            
            <div class="clear"></div>
            <div class="block">
               {% for object in object_list %}
                    <div class="block2">
                        <div class="block_head">
                            <img src="{{ object.get_100x98_url }}"/>
                            <p class="title">{{ object.title }}</p>
                        </div>
                        <div class="clear"></div>
                        {{ object.rich_content }}
                        <p class="btn"><a href="{% url 'startups_detail' object.slug %}"></a></p>
                    </div><!--/block2-->
                    {% empty %}
                        <p>There are no startup to list</p>
                {% endfor%}

            <div class="clear"></div>          
            </div><!--/block-->          
        </div> 
    </div><!--/Content-->
{% endblock %}