<div id="header">
    <a href="{% url 'index' %}" class="logo"></a>
    {% if user.can_access_console %}
    <ul> 
        <li><a href="{% url 'console_users_list' %}">Users</a></li>
        <li><a href="{% url 'console_events_list' %}">Events</a></li>
        <li><a href="{% url 'console_news_list' %}">News</a></li>
        <li><a href="{% url 'console_jobs_list' %}">Jobs</a></li>
        <li><a href="{% url 'console_gallery_list' %}">Gallery</a></li>
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
    </ul>
    {% endif %}
    <a href="javascript: void(0);" class="mobi_handle"></a>
    <!-- <a href="#social" class="nav_connect">Connect</a> -->
</div><!--/Header-->
